* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-size: 22px;
}

.om-mig {
    border: gray solid 2px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.program {
    text-align: center;
    background-color: #0f0f6a;
    color: #e1e16f;
    padding: 5px 15px;
}

.tankar {
    text-align: right;
}

a {
    text-decoration: none;
    color: #e1e1af;
}